@import "settings";

.dropdown {
  font-size: 18px;

  &.open .dropdown-content {
    max-height: 300px;

    ul {
      max-height: 260px;
    }
  }

  &.open .icon {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
  }

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $primary-color;
    padding: 10px;
    border-radius: 5px;

    color: white;
    font-weight: 700;

    @media (max-width: $small-screen) {
      font-size: 13px;
      padding: 5px;
    }

    button {
      background-color: $primary-color;
      height: 32px;

      .icon {
        display: block;
        transition: transform 0.3s ease;
      }
    }
  }

  .dropdown-content {
    background-color: $secondary-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;

    @media (max-width: $small-screen) {
      font-size: 12px;
    }

    ul {
      margin: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      overflow: hidden;
      max-height: 0;
      transition: max-height 0.8s ease;

      @media (max-width: $small-screen) {
        gap: 5px;
      }

      li {
        line-height: 1.5;
      }
    }
  }
}
