@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "settings";

#root {
  font-family: Montserrat;

  main {
    padding: 30px 45px;

    @media (max-width: $small-screen) {
      padding: 20px;
    }
  }
}