@import "settings";

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 40px;
  text-align: center;

  h1 {
    font-size: 288px;
    font-weight: 700;
    color: $primary-color;

    @media (max-width: $small-screen) {
      font-size: 96px;
    }
  }

  p {
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;

    @media (max-width: $small-screen) {
      font-size: 18px;
    }
  }

  a {
    color: black;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: $small-screen) {
      font-size: 14px;
    }
  }

}